.block__03 {
	position: relative;
	width: 100%;
	background-color: #e7e9ee;
	padding: 50px 0px;
	.content__title {
		text-align: center;
		color: #142c59;
		font-size: 28px;
		font-family: 'helvetica-5';
	}
	ul {
		position: relative;
		margin: auto;
		padding-left: 20%;
		li {
			display: flex;
			align-items: center;
			margin-top: 5px;
			cursor: pointer;
			text-align: center;
			font-size: 14px;
			font-family: 'helvetica-5';
			&:first-child {
				margin-top: 0;
			}
			&:hover .img {
				border-color: #0b51b5;
			}			
			.img {
				display: inline-block;
				width: 36px;
				height: 36px;
				border: 2px solid #f5f5f5;
				background-color: #f5f5f5;
				border-radius: 50%;
				margin-right: 18px;
				img {
					width: 100%;
					height: 100%;
					border-radius: 50%;
				}
			}
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.block__03 {
		ul {
			padding-left: 0;
			li {
				text-align: left;
			}
		}
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.block__03 {
		ul {
			margin-top: 30px;
		}
	}
}