.form__01 {
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 70px;
	font-family: 'helvetica-5';
	.top {
		position: relative;
		width: 100%;
		min-height: 210px;
		background-color: #d0e2ed;
		padding: 30px 50px;
		text-align: center;
		.title {
			font-size: 28px;
			font-weight: normal;
			font-style: normal;
			color: #142c59;
		}
		.text {
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			color: #142c59;
		}
		.button {
			display: block;
			margin: 0 auto;
			margin-top: 30px;
			max-width: 290px;
			width: 100%;
			height: 54px;
			color: #fff;
			font-size: 22px;
			font-weight: bold;
			line-height: 50px;
			text-shadow: 1px 2px 2px rgba(158,122,12,.75);
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;
			border-radius: 5px;
			border: 2px solid #97d34f;
			background-color: #7cd118;
			border-bottom: 6px solid #76b212;
			outline: none;
			&:hover {
				background-color: #7ee900;
			}
		}
	}
	.bottom {
		position: relative;
		margin-top: 2px;
		border-top: 12px solid #d0e2ed;
		.text {
			margin-top: 20px;
			font-size: 14px;
			font-family: 'helvetica-5';
			color: #fff;
			text-align: center;
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.form__01 {
		.top {
			.title {
				font-size: 22px;
			}
			.text {
				margin-top: 15px;
			}
		}
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.form__01 {
		.top {
			padding: 10px;
			.title {
				font-size: 18px;
			}
			.button {
				margin-top: 20px;
			}
		}

	}
}