@font-face {
    font-family: 'helvetica-5';
    src: url('../fonts/Helvetica-5-Normal.eot');
    src: url('../fonts/Helvetica-5-Normal.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Helvetica-5-Normal.woff') format('woff'),
         url('../fonts/Helvetica-5-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica-6';
    src: url('../fonts/Helvetica-6-Medium.eot');
    src: url('../fonts/Helvetica-6-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Helvetica-6-Medium.woff') format('woff'),
         url('../fonts/Helvetica-6-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica-7';
    src: url('../fonts/Helvetica-7-Bold.eot');
    src: url('../fonts/Helvetica-7-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Helvetica-7-Bold.woff') format('woff'),
         url('../fonts/Helvetica-7-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}